name: Linting
on:
  push:
    branches: [ master ]
  pull_request:

jobs:
  flake8:
    name: Flake8
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Python 3
        uses: actions/setup-python@v2
        with:
          python-version: 3.x

      - name: Install flake8
        run: python -m pip install -r ci/linting_requirements.txt

      - name: Run flake8
        run: |
          flake8
